.address {
  background-color: $main-block-color;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-top: 40px;
  padding-bottom: 40px;
}
.address-item {
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  img {
    width: 60px;
  }
  p {
    margin: 10px 0;
    font-style: normal;
    color: white;
  }
  a {
    color: white;
    text-decoration: none;
  }
}
.copyright {
  text-align: center;
  color: $main-block-color;
  margin: 40px 0;
}
.copy {
  margin: 15px 0 0 0;
  text-decoration: none;
  color: $main-font-color;
  display: block;
}
