$line-menu-btn: #ffffff;

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.171);
  width: 100%;
  z-index: 100;
  .logo-img {
    float: left;
    width: 100px;
  }

  .menu-icon {
    float: right;
  }
}
.nav-list {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}
.main-nav {
  position: relative;
  padding: 15px;
}
.nav-list {
  display: flex;
  flex-flow: column nowrap;
  list-style: none;
  overflow: hidden;
  align-items: center;
}
.menu-btn:checked ~ .nav-list {
  max-height: 340px;
}
.nav-link {
  display: block;
  text-decoration: none;
  padding: 15px;
  background-color: #fff;
}
.nav-link:hover,
.menu-btn:hover {
  background-color: #f4f4f4;
}
.menu-btn {
  display: none;
}
.menu-icon {
  margin: auto 0;
  cursor: pointer;
  display: inline-block;
  padding: 20px;
  position: relative;
  user-select: none;
  background-color: rgb(27, 33, 122);
  border-radius: 6px;
}
.navicon {
  background: $line-menu-btn;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}
.navicon:before,
.navicon:after {
  background: $line-menu-btn;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.navicon:before {
  top: 5px;
}

.navicon:after {
  top: -5px;
}

.menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
@media (min-width: 1000px) {
  .nav-list__item {
    float: left;
  }
  .nav-link {
    padding: 20px 30px;
  }
  .nav-list {
    clear: none;
    float: right;
    max-height: none;
    flex-flow: row nowrap;
  }
  .menu-icon {
    display: none;
  }
}
