.site-development {
  padding-top: 60px;
  padding-bottom: 60px;
}
.slide-dev {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 20px;
  color: $main-font-color;
  text-align: center;
  hr {
    background-color: $main-block-color;
    height: 1.5px;
  }
  .slide-title {
    margin: 15px 0;
    // font-weight: lighter;
  }
  .slide-img {
    display: block;
    margin: 10px auto;
  }
  p {
    margin: 20px 0;
  }
}
